In [28]:
!pip install dataframe_image

import numpy as np
import pandas as pd
import dataframe_image as dfi

Requirement already satisfied: dataframe_image in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (0.1.3)
Requirement already satisfied: pandas>=0.24 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from dataframe_image) (1.5.2)
Requirement already satisfied: requests in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from dataframe_image) (2.28.1)
Requirement already satisfied: beautifulsoup4 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from dataframe_image) (4.11.1)
Requirement already satisfied: mistune in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from dataframe_image) (2.0.4)
Requirement already satisfied: nbconvert>=5 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from dataframe_image) (7.2.5)
Requirement already satisfied: packaging in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from dataframe_image) (21.3)
Requirement already satisfied: matplotlib>=3.1 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from dataframe_image) (3.6.2)
Requirement already satisfied: aiohttp in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from dataframe_image) (3.8.3)
Requirement already satisfied: numpy>=1.19 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from matplotlib>=3.1->dataframe_image) (1.22.4)
Requirement already satisfied: cycler>=0.10 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from matplotlib>=3.1->dataframe_image) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from matplotlib>=3.1->dataframe_image) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from matplotlib>=3.1->dataframe_image) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from matplotlib>=3.1->dataframe_image) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from matplotlib>=3.1->dataframe_image) (1.0.6)
Requirement already satisfied: fonttools>=4.22.0 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from matplotlib>=3.1->dataframe_image) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from matplotlib>=3.1->dataframe_image) (1.4.4)
Requirement already satisfied: jinja2>=3.0 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (3.1.2)
Requirement already satisfied: nbclient>=0.5.0 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (0.7.0)
Requirement already satisfied: traitlets>=5.0 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (5.5.0)
Requirement already satisfied: jupyterlab-pygments in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (0.2.2)
Requirement already satisfied: pygments>=2.4.1 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (2.13.0)
Requirement already satisfied: jupyter-core>=4.7 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (5.0.0)
Requirement already satisfied: nbformat>=5.1 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (5.7.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (1.5.0)
Requirement already satisfied: tinycss2 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (1.2.1)
Requirement already satisfied: importlib-metadata>=3.6 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (4.11.4)
Requirement already satisfied: markupsafe>=2.0 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (2.1.1)
Requirement already satisfied: bleach in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (5.0.1)
Requirement already satisfied: defusedxml in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (0.7.1)
Requirement already satisfied: pytz>=2020.1 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from pandas>=0.24->dataframe_image) (2022.6)
Requirement already satisfied: multidict<7.0,>=4.5 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from aiohttp->dataframe_image) (6.0.2)
Requirement already satisfied: aiosignal>=1.1.2 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from aiohttp->dataframe_image) (1.3.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from aiohttp->dataframe_image) (1.8.1)
Requirement already satisfied: frozenlist>=1.1.1 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from aiohttp->dataframe_image) (1.3.3)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from aiohttp->dataframe_image) (2.1.1)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from aiohttp->dataframe_image) (4.0.2)
Requirement already satisfied: attrs>=17.3.0 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from aiohttp->dataframe_image) (22.1.0)
Requirement already satisfied: soupsieve>1.2 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from beautifulsoup4->dataframe_image) (2.3.2.post1)
Requirement already satisfied: idna<4,>=2.5 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from requests->dataframe_image) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from requests->dataframe_image) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from requests->dataframe_image) (2022.9.24)
Requirement already satisfied: zipp>=0.5 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from importlib-metadata>=3.6->nbconvert>=5->dataframe_image) (3.10.0)
Requirement already satisfied: platformdirs in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from jupyter-core>=4.7->nbconvert>=5->dataframe_image) (2.5.2)
Requirement already satisfied: nest-asyncio in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbclient>=0.5.0->nbconvert>=5->dataframe_image) (1.5.6)
Requirement already satisfied: jupyter-client>=6.1.5 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbclient>=0.5.0->nbconvert>=5->dataframe_image) (7.4.7)
Requirement already satisfied: jsonschema>=2.6 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbformat>=5.1->nbconvert>=5->dataframe_image) (4.17.1)
Requirement already satisfied: fastjsonschema in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from nbformat>=5.1->nbconvert>=5->dataframe_image) (2.16.2)
Requirement already satisfied: six>=1.5 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.1->dataframe_image) (1.16.0)

Requirement already satisfied: webencodings in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from bleach->nbconvert>=5->dataframe_image) (0.5.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert>=5->dataframe_image) (0.19.2)
Requirement already satisfied: pyzmq>=23.0 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert>=5->dataframe_image) (24.0.1)
Requirement already satisfied: tornado>=6.2 in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert>=5->dataframe_image) (6.2)
Requirement already satisfied: entrypoints in /data/user/home/jesusaur/.conda/envs/NLP-SPARQL/lib/python3.9/site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert>=5->dataframe_image) (0.4)

In [42]:
data = { 'Paper KGQAS': [0.93, np.nan], 'BERT Seq Classifier': [0.897, 0.513], 'ROBERT Seq Classifier': [0.934, 0.648],
        'Zoning KGQAS': [np.nan, np.nan], 'TEBA QA': [0.77, np.nan], 'TEBA QA XGBOOST': [0.81, np.nan],
        'TEBA_QA_SVM': [0.78, np.nan], 'ROBERTA SQUAD QA': [0.0, 0.0], 
        'ROBERTA SQUAD QA finetuned': [np.nan, np.nan]}

In [87]:
pd.set_option('display.colheader_justify', 'right')
df = pd.DataFrame.from_dict(data, orient='index', columns=['Accuracy', "F1"])
df = df.reset_index().rename(columns = {'index': 'Model'})
df = df.astype(str).replace('nan', '--')
df

                        Model Accuracy     F1
0                 Paper KGQAS     0.93     --
1         BERT Seq Classifier    0.897  0.513
2       ROBERT Seq Classifier    0.934  0.648
3                Zoning KGQAS       --     --
4                     TEBA QA     0.77     --
5             TEBA QA XGBOOST     0.81     --
6                 TEBA_QA_SVM     0.78     --
7            ROBERTA SQUAD QA      0.0    0.0
8  ROBERTA SQUAD QA finetuned       --     --

In [91]:
d = dict.fromkeys(df.select_dtypes('float').columns, "{:.3f}")
df_styled = df.style.set_properties(**{'font-size': '12pt','text-align': 'left'})\
.format(d).set_caption('Model Comparisons').set_table_styles([dict(selector='th', props=[('text-align', 'center'),\
                                                                                         ('border','30px')])])
df_styled

In [96]:
df_styled.export_png('comparison_table.png', , dpi=300) # table_conversion='matplotlib') uncomment for cheaha